<!-- Loading the path to our static files -->
{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'courses/style.css' %}">

{% if all_courses %}

  <h3>This are all available courses</h3>

  <ul>
    {% for course in all_courses %}
    <!-- <li><a href="/courses/{{ course.id }}">{{ course.course_title }}</a></li> -->
    <li><a href="{% url 'courses:detail' course.id %}">{{ course.course_title }}</a></li>
    {% endfor %}
  </ul>

{% else %}

  <h3>There is no course yet!</h3>

{% endif %}
