<!-- Loading the path to our static files -->
{% load staticfiles %}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<link rel="stylesheet" type="text/css" href="{% static 'courses/style.css' %}">

<nav class="navbar navbar-light bg-light">
  <div class="container-fluid">
    <!-- Logo Text or Image -->
    <div class="navbar-header">
      <a href="{% url 'courses:index' %}" class="navbar-brand">I Dev TV</a>
    </div>
  </div>
</nav>

{% if all_courses %}

  <h3>This are all available courses</h3>

  <ul>
    {% for course in all_courses %}
    <!-- <li><a href="/courses/{{ course.id }}">{{ course.course_title }}</a></li> -->
    <li><a href="{% url 'courses:detail' course.id %}">{{ course.course_title }}</a></li>
    {% endfor %}
  </ul>

{% else %}

  <h3>There is no course yet!</h3>

{% endif %}
